@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Caveat+Brush&family=Inconsolata:wght@200..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Caveat Brush", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Inconsolata", serif;
  font-weight: 700;
  font-style: normal;
}

.transition-container {
  transition: opacity 3s ease-in-out;
  position: relative;
}

.transition-container.fade-out {
  opacity: 0;
}

.transition-container.fade-in {
  opacity: 1;
}
